<h1>Create Robot Profile</h1>
  <form action="/profile" method="post">
    <h4>Enter your information:</h4>
      <h2>Name</h2>
        <input type='text' name='robot[name]'/><br>
      <h2>City</h2>
        <input type='text' name='robot[city]'/><br>
      <h2>State</h2>
        <input type='text' name='robot[state]'/><br>
      <h2>Birthday</h2>
        <input type='text' name='robot[birthday'/><br>
      <h2>Date of Hire</h2>
        <input type='text' name='robot[date_hired]'/><br>
      <h2>Department</h2>
        <input type='text' name='robot[department]'/><br>
        <input type='submit'/>
  </form>
